# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on:  ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: setup prerequisites (windows)
        continue-on-error: true
        if: matrix.os == 'windows-latest'
        run: echo "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      
      - name: setup prerequisites (linux)
        continue-on-error: true
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: apt install pkg-config libudev-dev
          
      - name: compile blink1-tool
        shell: bash
        run: make
        
      - name: compile blink1-tiny-server
        shell: bash
        run: make blink1-tiny-server
        
        
        
